body,html {
  margin:0;
  padding: 10px;
  overflow-x: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
}
 

.display_postsno {
  min-height: 50px;
  display: block;
 
}
 rect:hover {
  opacity: 0.9;
  cursor: pointer;
 }